body{
    background-image: url("../images/football_stadium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    font-size: 14px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
header{
    padding-top: 20px;
    text-align: center;

}
/*style the control icons*/
.controls{
    text-align: center;
}
/*style the start game and play again buttons*/
/*Button container styles*/
#startgame,
#playagain {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
/*Button styles*/
#startgamebtn,
#playagainbtn {
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #4bb9c1; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}
/* Button hover effect */
#startgamebtn:hover,
#playagainbtn:hover {
    background-color: #025358; 
}
/*style the card-container gameboard*/
.card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: auto;
    max-width: 800px;
    margin: 0 5px;
    padding-top: 10px;
}
.card { 
    width: 50px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
#endgame{
    text-align: center;
    padding-top: 40px;
    
}
#endgamebtn{
    background-color:#4bb9c1;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}
#endgamebtn:hover{
    background-color:rgb(5, 102, 114) ;
}
/* Responsive styles for tablets and larger*/
@media(min-width: 768px){
    body{
        font-size: 23px;
        margin: 0;
        padding: 0;
    }
    #endgamebtn{
        font-size: 20px;
    }
    /*style the card-container gameboard*/
.card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
}
.card {
    width: 70px; 
    height: 90px;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
} 
/*Responsive styles for laptops and desktops*/
@media(min-width: 992px){
    body{
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
/*style the card-container gameboard*/
.card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 10px;
}
.card {
    width: 100px; 
    height: 120px;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
#endgamebtn{
        font-size: 20px;
    }
}